<%- include('../partials/head') %>
<div class="main-div">
    <h1>Soccer Updates</h1>
    <form>
      <input id="search" placeholder='"i.e Premier League"' value="">
      <input class="btn btn-primary" type="submit">
    </form>
    
    <div class="row" id="search-results" style="max-height: 300px;"></div>
    <div id="top-scorers" ></div>
  </div>
<%- include('../partials/footer') %>
