<%- include('../partials/head') %>
<div class="main-div">
    <h1>Soccer Updates</h1>
    <form id="search-form">
      
      <input class="btn btn-primary" type="submit" value="Top Scorers">
    </form>
    
    <div class="row" id="search-results" style="max-height: 300px;"></div>
    <div id="top-scorers" ></div>
  </div>
<%- include('../partials/footer') %>
