<%- include('../partials/head') %>
    <div class="index-dashboards">

    </div>
    
    <form id="creating-dashboard">
        <div class="form-group">
            <label for="selectLeague">Select League</label>
            <select class="form-control" id="selectLeague">
                <option value="premier_league">Premier League</option>
                <option value="la_liga">La Liga</option>
                <option value="serie_a">Serie A</option>
                <option value="ligue_1">Ligue 1</option>
            </select>
        </div>
        <input class="btn btn-primary"  type="submit">
    </form>
<%- include('../partials/footer') %>
