* {
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #00B7FF;
}
a {
  color: #00B7FF;
}
.main-div {
  padding: 50px;
}
.index-dashboards {
  color: blue;
}